<div id="sidemenu">
  <aside class="menu">
    <p class="menu-label">Admin Options</p>
    <ul class="menu-list">
      <li><a href="/admin/dashboard" id="dashboard">Dashboard</a></li>
      <li><a href="/admin/products/manage" id="manage-products">Manage Products</a></li>
      <li><a href="/admin/categories/manage" id="manage-categories">Manage Categories</a></li>
      <li><a href="#" id="manage-orders">Manage Orders</a></li>
      <li><a href="#" id="order-history">Order History</a></li>
      <li><a href="/admin/queries/manage" id="manage-queries">Queries</a></li>
      <li><a href="#" id="my-profile">My Profile</a></li>
      <li><a href="/admin/logout" id="logout">Logout</a></li>
    </ul>
  </aside>
</div>
