<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <%- include('.././partials/css-links') -%>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <b class="navbar-item">Agarbatti</b>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="hammenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="hammenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/admins/login" class="button is-primary">Login</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <div class="box" id="formdiv">
          <form class="" action="/admins/login" method="post">
            <div class="field has-text-centered">
              <p class="is-size-4">Admin's Login</p>
              <hr>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" class="input" name="email" id="email" required placeholder="Enter your email">
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" class="input" name="password" id="password" required placeholder="Enter your password">
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-link">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <%- include('.././partials/css-links') -%>
  </body>
</html>
