<!DOCTYPE html>
<html lang="en" dir="ltr" class="is-clipped">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <%- include('../.././partials/admin-css-links') -%>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <b class="navbar-item">Agarbatti</b>
        <a role="button" class="navbar-burger" id="navburger" aria-label="menu" aria-expanded="false" data-target="hammenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navmenu">
        <div class="navbar-end">
          <a href="/admin/login" class="navbar-item">Login</a>
          <a href="/admin/register" class="navbar-item">Register</a>
        </div>
      </div>
    </nav>
    <main>
      <section class="section">
        <div class="container">
          <div id="messagediv">
            <% const m = getMessages() %>
            <% if(m.error){ %>
              <% m.error.forEach((element) => { %>
                <article class="message is-danger">
                  <div class="message-body">
                    <%= element %>
                  </div>
                </article>
              <% }) %>
            <% } %>
            <% if(m.success){ %>
              <% m.success.forEach((element) => { %>
                <article class="message is-success">
                  <div class="message-body">
                    <%= element %>
                  </div>
                </article>
              <% }) %>
            <% } %>
          </div>
          <div class="box" id="formdiv">
            <form class="" action="/admin/login" method="post">
              <div class="field has-text-centered">
                <p class="is-size-4">Change Password</p>
                <hr>
              </div>
              <div class="">
                <p class="has-text-danger has-text-centered" id="error"></p>
              </div>
              <div class="field">
                <label class="label">New Password</label>
                <div class="control has-icons-left">
                  <input type="password" class="input" name="password" id="password" required placeholder="Enter new password">
                  <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                </div>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control has-icons-left">
                  <input type="password" class="input" name="confirm_password" id="confirm_password" required placeholder="Retype new password">
                  <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-link">Submit Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <%- include('../.././partials/admin-js-links') -%>
    <script src="/js/admin-login.js" charset="utf-8"></script>
    <script src="/js/validate.js" charset="utf-8"></script>
  </body>
</html>
